h1,h2 {
    text-align: center;
    margin: 2px;
}
tr {
    page-break-inside: avoid;
}
th {
    border: 1px solid #cccccc;
    padding: 2px;
    text-align: center;
}
td {
    border: 1px solid #cccccc;
    padding: 2px;
    padding-right: 5px;
}
td:first-child {
    text-align:left;
}
th:first-child {
    text-align:left;
}
.allsumma {
    background-color: #25b4cb;
    font-weight: bold;
    font-size: 14px;
    text-align:left;
}
.categoryname {
    background-color: #FFD324;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.th{
    font-weight: bold;
    text-align: center;
}

@media print

{
    tr {
        page-break-before:avoid;
    }
    th {
        font-size: 10px;
    }
    td {
        font-size: 12px;
    }

}